@model QRModel

<div class="card mb-2 shadow-sm">
    <img src="@(string.IsNullOrEmpty(Model.QrCode) ? "/images/noimage.png" : Model.QrCode)" class="img-thumbnail" />
    <div class="card-body">
        <h5 class="card-title"><a asp-route="contact-me" asp-route-url="@Model.Url">@(string.IsNullOrEmpty(Model.Name) ? "Name is not available" : Model.Name)</a></h5>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary mr-2" href="@Model.QrCode" target="new">Download</a>
                <a class="btn btn-sm btn-outline-secondary" asp-controller="QRCode" asp-action="DeleteQrById" asp-route-id="@Model.Id" target="new">Delete</a>
            </div>
        </div>
    </div>
</div>