@model ContactQRModel
    <link href="~/css/Slider.css" rel="stylesheet" />
<div class="box card mb-2 shadow-sm" style="background-color: white">
    <div class="mt-2 mr-1">
        
       
            @*<i class="fas fa-eye float-left"></i>*@
           <label class="switch float-right">
                @{
                    var url = Url.Action("changeQrprivacy", "QRCode", new { Qrid = Model.Id });
                }
                <input type="checkbox" value="@Model.Id" checked="@Model.Enabled" onclick="window.location = '@url'" />
                <span class="slider round"></span>
            </label>
        
    </div>
    <img src="@(string.IsNullOrEmpty(Model.QrCode) ? "/images/noimage.png" : Model.QrCode)" class="img-thumbnail"/>
    @*<div class="card-body">*@
        <div class="ml-1">
            <h6 class="col-12 limitDisplayText"><strong></strong><a asp-route="contact-me" asp-route-url="@Model.Url">@(string.IsNullOrEmpty(Model.Name) ? "Name is not available" : Model.Name)</a></h6>
        </div>
        <div class="justify-content-center m-2">
            <div class="btn-group btn-block btn-group-sm" style="background-color: #212F3C; opacity: 0.7; border-radius: 10px">
                <a type="button" class="btn" style="color: white;" download href="@Model.QrCode" target="new"><i class="fas fa-cloud-download-alt"></i></a>
                <a type="button" class="btn" style="color: white;" asp-controller="QRCode" asp-action="EditQr" asp-route-id="@Model.Id"><i class="far fa-edit"></i></a>
                <button type="button" class="btn" style="color: white;" data-toggle="modal" data-target="#exampleModalCenter@(Model.Id)"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
    @*</div>*@
</div>


<!--Delete Modal Modal -->
<div class="modal fade" id="exampleModalCenter@(Model.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <strong>"@Model.Name"</strong>  ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger pr-4 pl-4" asp-controller="QRCode" asp-action="DeleteQrById" asp-route-id="@Model.Id" target="new">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->